<form method="get">
    <h2 style="margin-top: 50px; margin-bottom:50px ">Iskanje Nepremičnin</h2>
    <div class="search-filter">
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="group">VRSTA NEPREMIČNINE</label>
                <select class="custom-select mr-sm-2" id="group" name="group" asp-items="ViewBag.Group">
                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="listing">VRSTA PONUDBE</label>
                <select class="custom-select mr-sm-2" id="listing" name="listing" asp-items="ViewBag.ListingType">
                </select>
            </div>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="region">REGIJA</label>
                <select class="custom-select mr-sm-2" id="region" name="region" asp-items="ViewBag.Region">
                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="size">VELIKOST (&#x33A1)</label>
                <select class="custom-select mr-sm-2" id="size" name="size">
                    <option selected value="0-50">Do 50</option>year
                    <option value="50-100">50 - 100</option>
                    <option value="100-150">100 - 150</option>
                    <option value="150-200">150 - 200</option>
                    <option value="200-9999999999999">200 in več</option>
                </select>
            </div>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="year">LETO</label>
                <select class="custom-select mr-sm-2" id="year" name="year">
                    <option selected value="1900-1949">Do 1949</option>
                    <option value="1950-1959">1950 - 1959 </option>
                    <option value="1960-1969">1960 - 1969 </option>
                    <option value="1970-1979">1970 - 1979 </option>
                    <option value="1980-1989">1980 - 1989 </option>
                    <option value="1990-1999">1990 - 1999 </option>
                    <option value="2000-2009">2000 - 2009 </option>
                    <option value="2010-2019">2010 - 2019 </option>
                    <option value="2020-2100">2020 in več </option>

                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="price">CENA (&euro;)</label>
                <select class="custom-select mr-sm-2" id="price" name="price">
                    <option selected value="0-200000">Do 200.000</option>
                    <option value="200000-400000">200.000 - 400.000</option>
                    <option value="400000-600000">400.000 - 600.000</option>

                </select>
            </div>

        </div>
        <div style="width: 70%; padding: 10px;">
            @* <button type="button" class="btn btn-primary" asp-route-id="2" asp-controller="Home"
                asp-action="Index">IŠČI
                NEPREMIČNINE</button> *@
            <input type="submit" value="IŠČI NEPREMIČNINE" asp-controller="Home" asp-action="Index"
                class="btn btn-primary">
        </div>

    </div>
</form>