<form id="filter_form" method="get">
    <h2 style=" margin-bottom:50px ">Iskanje Nepremičnin</h2>
    <div class="search-filter">
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="group">VRSTA NEPREMIČNINE</label>
                <select class="custom-select mr-sm-2" id="group" name="group" asp-items="ViewBag.Group">
                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="listing">VRSTA PONUDBE</label>
                <select class="custom-select mr-sm-2" id="listing" name="listing" asp-items="ViewBag.ListingType"
                    onchange="document.getElementById('filter_form').submit();">
                </select>
            </div>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="region">REGIJA</label>
                <select class="custom-select mr-sm-2" id="region" name="region" asp-items="ViewBag.Region">
                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="size">VELIKOST (&#x33A1)</label>
                <select class="custom-select mr-sm-2" id="size" name="size" asp-items="ViewBag.Size">
                </select>
            </div>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="year">LETO</label>
                <select class="custom-select mr-sm-2" id="year" name="year" asp-items="ViewBag.Year">
                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="price">CENA (&euro;)</label>
                <select class="custom-select mr-sm-2" id="price" name="price" asp-items="ViewBag.Price">
                </select>
            </div>

        </div>
        <div style="width: 70%; padding: 10px;">
            @* <button type="button" class="btn btn-primary" asp-route-id="2" asp-controller="Home"
                asp-action="Index">IŠČI
                NEPREMIČNINE</button> *@
            <input type="submit" value="IŠČI NEPREMIČNINE" asp-controller="Home" asp-action="Index"
                class="btn btn-primary">
        </div>

    </div>
</form>